<!DOCTYPE html>
<html>

<head>
    <%- include(headerPath, {
    description: `AtlasCord - ${bot.config.description}`, 
    description2: `AtlasCord`, 
    title: `AtlasCord - Home`, 
    main_title: `AtlasCord | Home`, 
    image: 'none'}) %>
</head>

<body>
    <%- include(navPath, {pageHeader: true}) %>
        <h2 class="center padL"><i class="fas fa-chart-line"></i>&nbsp;AtlasCord's most upvoted Discord bots</h2>
        <p class="center padL">Top voted bots of this month!</p>
        <div class="center">
            <div class="container">
                <% if(Topbots.length === 0) { %>
                    <h2>There are no bots at the moment</h2>
                <% }else{ %>
                    <% for(i = 0; i < Topbots.length; i++){ %>
                        <%- include(dynamic + "/components/card", {robot: Topbots[i]}) %>
                    <% } %>
                <% } %>
            </div>
        </div>

        <h2 class="center padL"><i class="fas fa-star"></i>&nbsp;Certified Bots!</h2>
        <p class="center padL">Bots that have been certified!</p>
        <a class="ViewBtn" target="_blank" href="/certified">View All</a>
        <br><br>
        <div class="center">
            <div class="container">
                <% if(Certbots.length === 0) { %>
                    <h2>There are no bots at the moment</h2>
                <% }else{ %>
                    <% for(i = 0; i < Certbots.length; i++){ %>
                        <%- include(dynamic + "/components/card", {robot: Certbots[i]}) %>
                    <% } %>
                <% } %>
            </div>
        </div>

        <h2 class="center padL"><i class="fa fa-check-circle"></i>&nbsp;Recently added</h2>
        <p class="center padL">New bots that were recently approved!</p>
        <div class="center">
            <div class="container">
                <% if(Newbots.length === 0) { %>
                    <h2>There are no bots at the moment</h2>
                <% }else{ %>
                    <% for(i = 0; i < Newbots.length; i++){ %>
                        <%- include(dynamic + "/components/card", {robot: Newbots[i]}) %>
                    <% } %>
                <% } %>
            </div>
        </div>

        <div class="update-bg">
            <div class="update-content">
                 <div class="closeUpdate">X</div>
                 <h3 class="center">Latest Changes</h3>
                 <h3 class="center">Added</h3>
                 <p class="center">
                   <p>- Added discord libraries selection! (Can also be used on search) 
                    <p>- New redesigned cards!
                    <p>- Bot Banners are now here! (Booster and Certified only). 
                    <p>- Added icons to profile buttons.
                    <p> - More options of links on profiles.
                 </p>
                 <h3 class="center">Fixes</h3>
                 <p class="center">
                    <p>- Fixed the mysteries space on bot pages.
                    <p>- Fixed bot vanity URL on bot edit page. 
                    <p>- Fixed login button on mobile (again).
                 </p>

                 <h3 class="center">Improvements/Changes</h3>
                 <p class="center">
                    <p>- Bot buttons will now be hidden if no directory.
                    <p>- Changed "Submit Bot" to "Add Bot"
                    <p>- Removed hover animation.
                    <p>- Backend Improvements.
                 </p>
            </div>
       </div>
        <%- include(scriptsPath) %>
            <%- include(footerPath) %>
</body>

</html>