<!DOCTYPE html>
<html>

<head>
    <%- include(headerPath, {
    description: `AtlasCord - ${bot.config.description}`, 
    description2: `AtlasCord`, 
    title: `${robot.username} - Edit`, 
    main_title: `${robot.username} | Edit`, 
    image: 'none'}) %>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <%- include(navPath, {pageHeader: false}) %>
    <div class="center">
        <div class="addBox">
            <h1 class="cardFont">
                <i class="fas fa-bullhorn"></i>&nbsp; Bot Announcement (Beta)
            </h1>
            <hr c />
                <div class="erasePad floatLeft">
                    <div class="inputs">
                        <p>
                            Announcement
                        </p>
                        <input class="addInput" id="announce" placeholder="ie. New Update!" value="<%=robot.announce%>" />

                    </div>
                </div>
                <br><br><br><br><br><br><br><br>
                <a class="Gbtn" onclick="save('<%=robot.id%>')"><i class="fas fa-save"></i>&nbsp;Save Changes</a>
                <a class="Gbtn" href="/bot/<%=robot.id%>">Back</a>
            </div>
        </div>
    </div>
        <div class="center">
            <div class="addBox">
                <h1 class="cardFont">
                    <i class="fa fa-edit"></i>&nbsp;Edit Discord Bot
                </h1>
                <hr c />
                <div class="erasePad floatLeft">
                    <div class="inputs">
                        <p>
                            <i class="fab fa-discord"></i>&nbsp;Discord Bot ID:
                        </p>
                        <input class="addInput" disabled type="number" value="<%=robot.id%>" />
                    </div>
                    <div class="inputs">
                        <p>
                            Discord Libraries:
                        </p>
                        <select class="addMultiSelect" id="libraries" multiple>
                            <% bot.config.libraries.map(libraries => { %> 
                                <% if(robot.lib.includes(libraries.toLowerCase())){ %>
                                    <option value="<%= libraries.toLowerCase() %>" selected><%= libraries %></option>
                                <% }else{ %>
                                    <option value="<%= libraries.toLowerCase() %>"><%= libraries %></option>
                                <% } %>     
                            <% }) %>
                          </select>
                    </div>
                    <div class="inputs">
                        <p>
                            <i class="fas fa-asterisk"></i>&nbsp;Discord Bot prefix:
                        </p>
                        <input class="addInput" id="prefix" maxlength="10" placeholder="ie. ??" value="<%=robot.prefix%>" />
                    </div>
                    <div class="inputs">
                        <p>
                            <i class="fas fa-audio-description"></i>&nbsp;Short Description:
                        </p>
                        <input class="addInput" id="short" maxlength="250" value="<%=robot.short%>" placeholder="ie. 'DiscordBot' is a multi purpose bot with a lot of unique features" />
                    </div>
                    <div class="inputs">
                        <p>
                            <i class="fa fa-plus"></i>&nbsp;Discord Bot Invite:
                        </p>
                        <input class="addInput" id="invite" value="<%=robot.invite%>" placeholder="ie. https://discord.com/oauth2/authorize?client_id='0123456789'&scope=bot&permissions=8" />
                    </div>
                    <div class="inputs">
                        <p>
                            <i class="fab fa-discord"></i>&nbsp;Discord Bot Support:
                        </p>
                        <input class="addInput" id="server" value="<%=robot.server%>" placeholder="ie. https://discord.gg/'code'" />
                    </div>
                    <div class="inputs">
                        <p>
                            <i class="fa fa-link"></i>&nbsp;Discord Bot Website:
                        </p>
                        <input class="addInput" id="website" value="<%=robot.website%>" placeholder="ie. https://discord.com/" />
                    </div>
                    <div class="inputs">
                        <p>
                            <i class="fas fa-donate"></i>&nbsp;Donation's Link:
                        </p>
                        <input class="addInput" id="donate"value="<%=owner%>" placeholder="ie. https://paypal.com/'Username'" />
                    </div>
                    <div class="inputs">
                        <p>
                            <i class="fa fa-users"></i>&nbsp;Additional Owners:
                        </p>
                        <input class="addInput" id="users" value="<%= robot.owners %>" placeholder="ie. 0123456789, 0123456789, 0123456789" />
                    </div>
                    <div class="inputs">
                        <p>
                            <i class="fas fa-tags"></i>&nbsp;Discord Bot Tags:
                        </p>
                        <select class="addMultiSelect" id="tags" multiple>
                            <% bot.config.tags.map(tag => { %> 
                                <% if(robot.tags.includes(tag.toLowerCase())){ %>
                                    <option value="<%= tag.toLowerCase() %>" selected><%= tag %></option>
                                <% }else{ %>
                                    <option value="<%= tag.toLowerCase() %>"><%= tag %></option>
                                <% } %>     
                            <% }) %>
                          </select>
                    </div>
                    <div class="inputs">
                        <p>
                            <i class="fas fa-audio-description"></i>&nbsp;Long Description:
                        </p>
                        <textarea class="addTextarea" id="long" placeholder="The bot has the current features and this how to use it
- ....
- ....
- ...."><%=robot.description%></textarea>
                        <br /><br />
                        <label class="switch">
                            <% if(robot.nsfw) { %> 
                                <input type="checkbox" id="nsfw" checked>
                            <% }else{ %> 
                                <input type="checkbox" id="nsfw">
                            <% } %>
                            <span class="slider round"></span>
                        </label>

                        <b>Yes, My bot has nsfw command & nsfw long description</b>
                        <br><br><br><br>
                        <a class="Gbtn" onclick="save('<%=robot.id%>')"><i class="fas fa-save"></i>&nbsp;Save Changes</a>
                        <a class="Gbtn" href="/bot/<%=robot.id%>">Back</a>
                        <a class="rGbtn" onclick="deletebot('<%=robot.id%>')"><i class="fas fa-trash"></i>&nbsp;Delete Bot</a>
                    </div>
                </div>
            </div>
        </div>

        <% const guild = bot.guilds.cache.get("940042260010106910") %>
        <% const role = guild.members.cache.get(user.id)%> 
        <%if (robot.certified) {%>
            <div class="center">
            <div class="addBox">
                <h1 class="cardFont">
                    Additional Perks! 
                </h1>
                <h3 class="cardFont">
                    This section is for certified and boosters!
                </h3>
                <hr c />
                    <div class="erasePad floatLeft">
                        <div class="inputs">
                            <p>
                                <i class="fas fa-star"></i>&nbsp;Vanity URL:
                            </p>
                            <input class="addInput" id="vanity" value="<%=robot.vanity%>" placeholder="ie. https://atlasbots.com/bot/KyeKillerBot" />
                            <p>Your vanity URL: <a href="https://atlasbots.com/bot/<%=robot.vanity || robot.id%>">https://atlasbots.com/bot/<%=robot.vanity || robot.id%></a></p>
                        </div>
                        <div class="inputs">
                            <p>
                                Bot Banner!
                            </p>
                            <input class="addInput" id="banner" value="<%=robot.banner%>" placeholder="ie. https://imgur.com/" />
                        </div>
                    </div>
                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    <a class="Gbtn" onclick="save('<%=robot.id%>')"><i class="fas fa-save"></i>&nbsp;Save Changes</a>
                    <a class="Gbtn" href="/bot/<%=robot.id%>">Back</a>
                </div>
            </div>
            <%}%>
        <%- include(scriptsPath) %>
            <script src="/static/assets/scripts/editbot.js"></script>
            <%- include(footerPath) %>
</body>

</html>
