<!DOCTYPE html>
<html>

<head>
    <%- include(headerPath, {
    description: `AtlasCord - ${bot.config.description}`, 
    description2: `AtlasCord`, 
    title: `AtlasCord - Profile`, 
    main_title: `AtlasCord | ${userProfile.username}`, 
    image: 'none'}) %>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <%- include(navPath, {pageHeader: false}) %>
            <div class="erasePad">
                <div class="pCard">
                    <img src="<%=userProfile.displayAvatarURL({dynamic: true});%>" class="pAvatar" alt="avatar" onerror="this.onerror=null; this.src='/static/assets/imgs/icon.png';" />
                    <div class="pData">
                        <h1 class="pFont">
                            <%=userProfile.tag%>
                            <% if(duser.badges.get("owner")){ %>
                                <img src='/static/assets/imgs/owner.png' class="pBadges" title="Owner" onerror="this.onerror=null; this.src='/static/assets/imgs/icon.png';" />
                            <% } %>
                            <% if(duser.badges.get("admin")){ %>
                                <img src='/static/assets/imgs/admin.png' class="pBadges" title="Administrator" onerror="this.onerror=null; this.src='/static/assets/imgs/icon.png';" />
                            <% } %>
                            <% if(duser.badges.get("developer")){ %>
                                <img src='/static/assets/imgs/developer.png' class="pBadges" title="Site Developer" onerror="this.onerror=null; this.src='/static/assets/imgs/icon.png';" />
                            <% } %>
                            <% if(duser.badges.get("moderator")){ %>
                                <img src='/static/assets/imgs/moderator.png' class="pBadges" title="Moderator" onerror="this.onerror=null; this.src='/static/assets/imgs/icon.png';" />
                            <% } %>
                            <% if(duser.badges.get("certified")){ %>
                                <img src='/static/assets/imgs/star.png' class="pBadges" title="Certified" onerror="this.onerror=null; this.src='/static/assets/imgs/icon.png';" />
                            <% } %>
                            <% if(duser.badges.get("premium")){ %>
                                <img src='/static/assets/imgs/icon.png' class="pBadges" title="Premium" onerror="this.onerror=null; this.src='/static/assets/imgs/icon.png';" />
                            <% } %>
                        </h1>
                        <% if(userProfile.id === user?.id) {%>
                        <a class="pCardBtn" href='/user/<%= user.id%>/edit'><i class="fas fa-edit"></i>&nbsp;Manage Profile</a>
                        <%}%>
                        <% if(duser.github) {%>
                            <a class="pCardBtn" href="<%= duser.github %>" target="_blank"><i class="fab fa-github"></i>&nbsp;Github</a>
                        <%}%>
                        <% if(duser.donate) {%>
                            <a class="pCardBtn" href="<%= duser.donate %>" target="_blank"><i class="fas fa-donate"></i>&nbsp;Donate</a>
                        <%}%>
                        <% if(duser.website) {%>
                            <a class="pCardBtn" href="<%= duser.website %>" target="_blank"><i class="fa fa-link"></i>&nbsp;Website</a>
                        <%}%>
                        <% if(duser.twitter) {%>
                            <a class="pCardBtn" href="<%= duser.twitter %>" target="_blank"><i class="fab fa-twitter"></i>&nbsp;Twitter</a>
                        <%}%>
                    </div>
                    <div class="pbottomData">
                        <%if (duser.bio) {%>
                        <h2 class="pFont">Bio</h2>
                        <h4 class="pFont"><%=duser.bio%></h4>
                        <%}%>
                    </div>
                </div>
                <div class="center">
                    <div class="container">
                        <% for(i = 0; i < bots.length; i++){ %>
                            <%- include(dynamic + "/components/card", {robot: bots[i]}) %>
                        <%}%>
                        <% for(i = 0; i < abots.length; i++){ %>
                            <%- include(dynamic + "/components/card", {robot: abots[i]}) %>
                        <%}%>
                    </div>
                </div>
            </div>

        <%- include(scriptsPath) %>
            <script src="/static/assets/scripts/profile.js"></script>
            <%- include(footerPath) %>
</body>

</html>