<!DOCTYPE html>
<html>

<head>
    <%- include(headerPath, {
    description: `AtlasCord - ${bot.config.description}`, 
    description2: `AtlasCord`, 
    title: `AtlasCord - Edit Profile`, 
    main_title: `AtlasCord | Edit Profile`, 
    image: 'none'}) %>
</head>

<body>
    <%- include(navPath, {pageHeader: false}) %>
        <div class="center">
            <div class="pSettings" id="settings">
                <div class="center">
                    <h1 class="cardInfoFont"><i class="fa fa-edit"></i> Manage Profile</h1>
                </div>
                <hr c />
                <div class="floatLeft">
                    <div class="inputs">
                        <p>
                            Bio Graphy:
                        </p>
                        <input class="addInput" id="bio" placeholder="ie. I am a very mysterious person" value="<%=duser.bio%>" />
                    </div>
                    <div class="inputs">
                        <p>
                            <i class="fa fa-link"></i>&nbsp;Website:
                        </p>
                        <input class="addInput" id="website" placeholder="ie. https://tazhys.gg/" value="<%=duser.website%>" />
                    </div>
                    <div class="inputs">
                        <p>
                            <i class="fas fa-donate"></i>&nbsp;Donate:
                        </p>
                        <input class="addInput" id="donate" placeholder="ie. https://paypal.com/" value="<%=duser.donate%>" />
                    </div>
                    <div class="inputs">
                        <p>
                            <i class="fab fa-twitter"></i>&nbsp;Twitter:
                        </p>
                        <input class="addInput" id="twitter" placeholder="ie. https://twitter.com/AtlasBotList" value="<%=duser.donate%>" />
                    </div>
                    <div class="inputs">
                        <p>
                            <i class="fab fa-github"></i>&nbsp;Github:
                        </p>
                        <input class="addInput" id="github" placeholder="ie. https://github.com/" value="<%=duser.github%>" />
                        <br /><br /><br />
                        <a class="Gbtn" onclick="save()"><i class="fas fa-save"></i>&nbsp;Save Changes</a>
                        <a class="Gbtn" href='/user/<%= user.id%>'>Back To Profile</a>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
        </div>
        <%- include(scriptsPath) %>
            <script src="/static/assets/scripts/profile.js"></script>
            <%- include(footerPath) %>
</body>

</html>