<!DOCTYPE html>
<html>

<head>
    <%- include(headerPath, {
        description: `AtlasCord - ${bot.config.description}`, 
        description2: `AtlasCord`, 
        title: `AtlasCord - Report ${fetch.username}`, 
        main_title: `AtlasCord | Report ${fetch.username}`,
        image: 'none'}) %>
        <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
</head>

<% if(alert) { %>
    <%- include(alertsPath, {alert}) %>
  <% }else if(error){ %>
    <%- include(alertsPath, {error}) %>
  <% } %>

<body>
    <%- include(navPath, {pageHeader: false}) %>
    <div class="center">
        <div class="addBox">
            <h1 class="cardFontBP">
                &nbsp;Report <%- `${fetch.username}` %>
            </h1>
            <h2 class="center">Warning: Doing false/troll reports may lead to you being banned!</h2>
            <hr c />
            <form id="report-form" name="report-form" action="" method="POST">
                <input class="decline" name="reportreason" placeholder="Report Reason"/>
                <br><br>
                <div class="h-captcha" id="hcaptcha" name="hcaptcha" data-theme="dark" data-sitekey="0be18560-16c8-4853-aa55-421b7ba1aa99"></div>
                <br>
                <button class="rGbtn" value="report bot" name="submit">Report</button>
                <a class="Gbtn" href="/bot/<%=robot.id%>">Back To <%- `${fetch.username}`%></a>
            </form>
            </div>
        </div>
    </div>
    <%- include(scriptsPath) %>

         <%- include(footerPath) %>

         <script>
             document.querySelector("#report-form").addEventListener("submit", function(event) {
            var hcaptchaVal = document.querySelector('[name="h-captcha-response"]').value;
            if (hcaptchaVal === "") {
            event.preventDefault();
            alert('Please complete the Captcha before reporting')
            }
        });
         </script>
</body>

</html>