<!DOCTYPE html>
<html>

<head>
    <%- include(headerPath, {
    description: `AtlasCord - ${bot.config.description}`, 
    description2: `AtlasCord`, 
    title: `AtlasCord - Submit`, 
    main_title: `AtlasCord | Submit`, 
    image: 'none'}) %>
</head>

<body>
    <%- include(navPath, {pageHeader: false}) %>
        <div class="center">
            <div class="addBox">
                <h1 class="cardFont">
                    <i class="fa fa-plus"></i>&nbsp;Add A Discord Bot
                </h1>
                <hr c />
                <div class="erasePad floatLeft">
                    <div class="inputs">
                        <p>
                            <i class="fab fa-discord"></i>&nbsp;Discord Bot ID:
                        </p>
                        <input class="addInput" type="number" id="id" placeholder="ie. 0123456789" />
                    </div>
                    <div class="inputs">
                        <p>
                            Discord Libraries:
                        </p>
                        <select class="addMultiSelect" id="libraries" multiple>
                            <% bot.config.libraries.map(libraries => { %> 
                                <option value='<%=libraries.toLowerCase()%>'><%=libraries%></option>       
                            <% }) %>
                          </select>
                    </div>
                    <div class="inputs">
                        <p>
                            <i class="fas fa-asterisk"></i>&nbsp;Discord Bot prefix:
                        </p>
                        <input class="addInput" id="prefix" maxlength="10" placeholder="ie. ??" />
                    </div>
                    <div class="inputs">
                        <p>
                            <i class="fas fa-audio-description"></i>&nbsp;Short Description:
                        </p>
                        <input class="addInput" id="short" maxlength="250" placeholder="ie. 'DiscordBot' is a multi purpose bot with a lot of unique features" />
                    </div>
                    <div class="inputs">
                        <p>
                            <i class="fa fa-plus"></i>&nbsp;Discord Bot Invite:
                        </p>
                        <input class="addInput" id="invite" placeholder="ie. https://discord.com/oauth2/authorize?client_id='0123456789'&scope=bot&permissions=8" />
                    </div>
                    <div class="inputs">
                        <p>
                            <i class="fab fa-discord"></i>&nbsp;Discord Bot Support:
                        </p>
                        <input class="addInput" id="server" placeholder="ie. https://discord.gg/'code'" />
                    </div>
                    <div class="inputs">
                        <p>
                            <i class="fa fa-link"></i>&nbsp;Discord Bot Website:
                        </p>
                        <input class="addInput" id="website" placeholder="ie. https://discord.com/" />
                    </div>
                    <div class="inputs">
                        <p>
                            <i class="fas fa-donate"></i>&nbsp;Donation's Link:
                        </p>
                        <input class="addInput" id="donate" placeholder="ie. https://paypal.com/'Username'" />
                    </div>
                    <div class="inputs">
                        <p>
                            <i class="fa fa-users"></i>&nbsp;Additional Owners:
                        </p>
                        <input class="addInput" id="users" placeholder="ie. 0123456789, 0123456789, 0123456789" />
                    </div>
                    <div class="inputs">
                        <p>
                            <i class="fas fa-tags"></i>&nbsp;Discord Bot Tags:
                        </p>
                        <select class="addMultiSelect" id="tags" multiple>
                            <% bot.config.tags.map(tag => { %> 
                                <option value='<%=tag.toLowerCase()%>'><%=tag%></option>       
                            <% }) %>
                          </select>
                    </div>
                    <div class="inputs">
                        <p>
                            <i class="fas fa-audio-description"></i>&nbsp;Long Description:
                        </p>
                        <textarea class="addTextarea" id="long" placeholder="The bot has the current features and this how to use it
- ....
- ....
- ...."></textarea>
                        <br /><br />
                        <label class="switch">
                            <input type="checkbox" id="nsfw">
                            <span class="slider round"></span>
                        </label>
                        <b>Yes, My bot has nsfw command & nsfw long description</b><br><br><br>
                        <a class="Gbtn" onclick="submit()"><i class="fa fa-plus"></i>&nbsp;Submit</a>
                    </div>
                </div>
            </div>
        </div>
        <%- include(scriptsPath) %>
            <script src="/static/assets/scripts/submit.js"></script>
            <%- include(footerPath) %>
</body>

</html>