<!DOCTYPE html>
<html>

<head>
    <%- include(headerPath, {
        description: `AtlasCord - ${bot.config.description}`, 
        description2: `AtlasCord`, 
        title: `AtlasCord - Vote ${fetch.username}`, 
        main_title: `AtlasCord | Vote ${fetch.username}`, 
        image: 'none'}) %>
        <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
</head>

<% if(alert) { %>
    <%- include(alertsPath, {alert}) %>
  <% }else if(error){ %>
    <%- include(alertsPath, {error}) %>
  <% } %>

<body>
    <%- include(navPath, {pageHeader: false}) %>
    <div class="center">
        <div class="addBox">
            <h1 class="cardFont">
                &nbsp;Vote for <%- `${fetch.username}` %>
            </h1>
            <h2 class="center">You can only vote every 12 hours</h2>
            <hr c />
            <form id="vote-form" name="vote-form" action="" method="POST">
                <div class="h-captcha" id="hcaptcha" name="hcaptcha" data-theme="dark" data-sitekey="0be18560-16c8-4853-aa55-421b7ba1aa99"></div>
                <button class="Gbtn" value="vote bot" name="submit"><i class="fa fa-level-up"></i> Vote</button>
                <a class="Gbtn" href="/bot/<%=robot.id%>">Back To <%- `${fetch.username}`%></a>
            </form>
            </div>
        </div>
    </div>
    <%- include(scriptsPath) %>
            

         <%- include(footerPath) %>

<script>
    document.querySelector("#vote-form").addEventListener("submit", function(event) {
   var hcaptchaVal = document.querySelector('[name="h-captcha-response"]').value;
   if (hcaptchaVal === "") {
      event.preventDefault();
      alert('Please complete the Captcha before voting')
    }
   });
</script>
</body>

</html>