<!DOCTYPE html>
<html>

<head>
    <%- include(headerPath, { 
        description: `AtlasCord - Certification Queue`, 
        description2: `AtlasCord`, 
        title: `AtlasCord - Certification Queue`, 
        main_title: `AtlasCord | Certification Queue`, 
        image: 'none' }) %>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <%- include(navPath, {pageHeader: false}) %>
        <h2 class="center"><%- robot.username%> Admin Panel</h2>
        <div class="center">
            <div class="panel">
                <h1 class="cardFont center">Certify</h1>
                <br>
                <button class="Btn colorRev" onclick="certify('<%=robot.id%>', '<%=robot.owner%>')">Certify Bot</button>
                <button class="rBtn colorRev" onclick="rcert('<%=robot.id%>', '<%=robot.owner%>')">Remove Cert</button>
            </div>
        </div>
        <%- include(footerPath) %>
        <%- include(scriptsPath) %>
            <script src="/static/assets/scripts/moderation.js"></script>
</body>

</html>