<!DOCTYPE html>
<html>

<head>
    <%- include(headerPath, { 
        description: `AtlasCord - Staff Panel`, 
        description2: `AtlasCord`, 
        title: `AtlasCord - Staff Panel`, 
        main_title: `AtlasCord | Staff Panel`, 
        image: 'none' }) %>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <%- include(navPath, {pageHeader: false}) %>
        <h1 class="center">Staff Panel</h1>

        <div class="center">
            <div class="panel">
                <h1 class="cardFont center">Review Queue Panel</h1>
                <br>
                <button class="Btn colorRev" onclick="window.open('/panel/queue', '_blank')">Go To</button>
            </div>

            <div class="panel">
                <h1 class="cardFont center">Report Queue Panel</h1>
                <br>
                <button target="_blank" class="Btn colorRev" onclick="window.open('/panel/report', '_blank')">Go To</button>
            </div>
        </div>

        <%- include(footerPath) %>
        <%- include(scriptsPath) %>
            <script src="/static/assets/scripts/moderation.js"></script>
</body>

</html>