<!DOCTYPE html>
<html>

<head>
    <%- include(headerPath, { 
        description: `AtlasCord - Review Queue`, 
        description2: `AtlasCord`, 
        title: `AtlasCord - Review Queue`, 
        main_title: `AtlasCord | Review Queue`, 
        image: 'none' }) %>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <%- include(navPath, {pageHeader: false}) %>
        <h2 class="center">Bot reviewing queue</h2>
        <div class="center">
            <div class="container">
                <% if(bots.length===0) { %>
                    <h2>No bots in the queue at this time.</h2>
                    <% }else{ %>
                        <% for(i=0; i < bots.length; i++){ %>
                        <table class="Mbackground">
                            <tr>
                                <td>
                                    <h2 class="cardFont"><%- bots[i].username%></h2>
                                <td>
                                    <button class="cardBtnM colorRev cardBtnHolder" onclick="approve('<%=bots[i].id%>')">Approve</button>
                                </td>
                                <td>
                                    <button class="cardBtnM colorRev cardBtnHolder" onclick="decline('<%=bots[i].id%>')">Decline</button>
                                </td>
                                <td>
                                    <button class="cardBtnM colorRev cardBtnHolder" onclick="window.open('/bot/<%=bots[i].id%>', '_blank')">View Bot Page</button>
                                </td>
                            </tr>
                        </table>
                    <% } %>
                <% } %>
            </div>
        </div>
        <%- include(footerPath) %>
        <%- include(scriptsPath) %>
            <script src="/static/assets/scripts/moderation.js"></script>
</body>

</html>