<!DOCTYPE html>
<html>

<head>
    <%- include(headerPath, { 
        description: `AtlasCord - Report Queue`, 
        description2: `AtlasCord`, 
        title: `AtlasCord - Report Queue`, 
        main_title: `AtlasCord | Report Queue`, 
        image: 'none' }) %>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <%- include(navPath, {pageHeader: false}) %>
        <h2 class="center">Bot Reports queue</h2>
        <div class="center">
            <div class="container">
                <% if(bots.length===0) { %>
                    <h2>No bots have been reported at this time.</h2>
                    <% }else{ %>
                        <% for(i=0; i < bots.length; i++){ %>
                        <table class="Mbackground">
                            <tr>
                                <td>
                                    <h2 class="cardFont"><%- bots[i].username%></h2>
                                </td>
                                <td>
                                    <h2 class="cardFont">&nbsp;Reported by <%=bots[i].reportedby%> for <%=bots[i].rreason%></h2>
                                </td>
                                <td>
                                    <button class="cardBtnM colorRev cardBtnHolder" onclick="remove('<%=bots[i].id%>')">Remove Report</button>
                                </td>
                                <td>
                                    <button class="cardBtnM colorRev cardBtnHolder" onclick="rdelete('<%=bots[i].id%>')">Delete Bot</button>
                                </td>
                                <td>
                                    <button class="cardBtnM colorRev cardBtnHolder" onclick="window.open('/bot/<=bots[i].id>', '_blank')">View Bot Page</button>
                                </td>
                            </tr>
                        </table>
                                <% } %>
                            <% } %>
            </div>
        </div>
        <%- include(footerPath) %>
        <%- include(scriptsPath) %>
            <script src="/static/assets/scripts/moderation.js"></script>
</body>

</html>