<div class="card" id="desktop">
    <%if (robot.banner) {%>
    <img class="CardBanner" alt="Banner" src="<%=robot.banner %>" />
    <%} else {%>
        <img class="CardBanner" alt="Banner" src='/static/assets/imgs/banner-PH.png' />
    <%}%>
    <img class="cardAvatar" alt="avatar" src="<%= bot.users.cache.get(robot.id) ? bot.users.cache.get(robot.id).displayAvatarURL() : '/static/assets/imgs/icon.png' %>" />
    <div class="BotName">
        <h2 class="cardFont">
            <%= bot.users.cache.get(robot.id) ? bot.users.cache.get(robot.id).username : 'Dummy#0000' %>
            <%if (robot.certified) {%>
                <i class="fas fa-star" title="Certified"></i>
            <%}%>
        </h2>
    </div>
    <div class="cardStats">
        <div class="container erasePad Upper">
            <div class="cardInfo">
                <p class="cardInfoFont filltext">
                    Servers: <%= robot.servers %>
                </p>
            </div>
            <div class="cardInfo">
                <p class="cardInfoFont filltext">
                    Votes: <%= robot.votes %>
                </p>
            </div>
        </div>
    </div>
<div class="cardDesc">
    <p class="cardDescFont textCenter">
        <%=robot.short%>
    </p>
<%if(robot.tags.length > 0) {%>
    <p class="cardTags textCenter">
        Tags: <%=robot.tags.toString().split(',').join(', ');%>
    </p>
<%}%>
</div>
<br>
<div class="ButtonC">
    <button class="cardBtn cardBFont cardBtnHolder" onclick="location.href='<%=robot.invite%>'">Invite</button>
    <button class="cardBtn cardBFont cardBtnHolder" onclick="location.href='/bot/<%=robot.id%>'">View</button>
    <button class="cardBtn cardBFont cardBtnHolder" onclick="location.href='/bot/<%=robot.id%>/vote'">Vote</button>
</div>
</div>

<div class="cardM" id="mobile">
    <%if (robot.banner) {%>
        <img class="CardBannerM" alt="Banner" src="<%=robot.banner %>" />
        <%} else {%>
            <img class="CardBannerM" alt="Banner" src='/static/assets/imgs/banner-PH.png' />
        <%}%>
<img class="cardAvatarM" alt="avatar" src="<%= bot.users.cache.get(robot.id) ? bot.users.cache.get(robot.id).displayAvatarURL() : '/static/assets/imgs/icon.png' %>" />
<div class="BotName">
    <h2 class="cardFont">
        <%= bot.users.cache.get(robot.id) ? bot.users.cache.get(robot.id).username : 'Dummy#0000' %>
        <%if (robot.certified) {%>
            <i class="fas fa-star" title="Certified"></i>
        <%}%>
    </h2>
</div>
<div class="cardStatsM">
    <div class="container erasePad Upper">
        <div class="cardInfoM">
            <p class="cardInfoFont filltext">
                Servers: <%= robot.servers %>
            </p>
        </div>
        <div class="cardInfoM">
            <p class="cardInfoFont filltext">
                Votes: <%= robot.votes %>
            </p>
        </div>
    </div>
</div>
<div class="cardDescM">
<p class="cardDescFont textCenter">
    <%=robot.short%>
</p>
</div>
<br>
<div class="ButtonC">
<button class="cardBtn cardBFont cardBtnHolder" onclick="location.href='<%=robot.invite%>'">Invite</button>
<button class="cardBtn cardBFont cardBtnHolder" onclick="location.href='/bot/<%=robot.id%>'">View</button>
<button class="cardBtn cardBFont cardBtnHolder" onclick="location.href='/bot/<%=robot.id%>/vote'">Vote</button>
</div>
</div>