<div class="newcard" id="desktop">
        <img class="CardBanner" alt="Banner" src="<%= robot.id ? robot.banner : '/static/assets/imgs/icon.png' %>" />
        <img class="newcardAvatar" alt="avatar" src="<%= bot.users.cache.get(robot.id) ? bot.users.cache.get(robot.id).displayAvatarURL() : '/static/assets/imgs/icon.png' %>" />
        <div class="newBotName">
            <h2 class="cardFont">
                <%= bot.users.cache.get(robot.id) ? bot.users.cache.get(robot.id).username : 'Dummy#0000' %>
                <%if (robot.certified) {%>
                    <i class="fas fa-star" title="Certified"></i>
                <%}%>
            </h2>
        </div>
        <div class="newcardStats">
            <div class="container erasePad Upper">
                <div class="cardInfo">
                    <p class="cardInfoFont filltext">
                        Servers: <%= robot.servers %>
                    </p>
                </div>
                <div class="cardInfo">
                    <p class="cardInfoFont filltext">
                        Votes: <%= robot.votes %>
                    </p>
                </div>
            </div>
        </div>
    <div class="newcardDesc">
        <p class="cardDescFont textCenter">
            <%=robot.short%>
        </p>
    <%if(robot.tags.length > 0) {%>
        <p class="cardTags textCenter">
            Tags: <%=robot.tags.toString().split(',').join(', ');%>
        </p>
    <%}%>
    </div>
    <br>
    <div class="newButtonC">
        <button class="newcardBtn cardBFont cardBtnHolder" onclick="location.href='<%=robot.invite%>'">Invite</button>
        <button class="newcardBtn cardBFont cardBtnHolder" onclick="location.href='/bot/<%=robot.id%>'">View</button>
        <button class="newcardBtn cardBFont cardBtnHolder" onclick="location.href='/bot/<%=robot.id%>/vote'">Vote</button>
    </div>
</div>

<div class="newcardM" id="mobile">
    <img class="CardBannerM" alt="Banner" src="<%= bot.users.cache.get(robot.id) ? bot.users.cache.get(robot.id).displayAvatarURL() : '/static/assets/imgs/icon.png' %>" />
    <img class="newcardAvatar" alt="avatar" src="<%= bot.users.cache.get(robot.id) ? bot.users.cache.get(robot.id).displayAvatarURL() : '/static/assets/imgs/icon.png' %>" />
    <div class="newBotName">
        <h2 class="cardFont">
            <%= bot.users.cache.get(robot.id) ? bot.users.cache.get(robot.id).username : 'Dummy#0000' %>
            <%if (robot.certified) {%>
                <i class="fas fa-star" title="Certified"></i>
            <%}%>
        </h2>
    </div>
    <div class="newcardStatsM">
        <div class="container erasePad Upper">
            <div class="cardInfoM">
                <p class="cardInfoFont filltext">
                    Servers: <%= robot.servers %>
                </p>
            </div>
            <div class="cardInfoM">
                <p class="cardInfoFont filltext">
                    Votes: <%= robot.votes %>
                </p>
            </div>
        </div>
    </div>
<div class="newcardDescM">
    <p class="cardDescFont textCenter">
        <%=robot.short%>
    </p>
</div>
<br>
<div class="newButtonC">
    <button class="newcardBtn cardBFont cardBtnHolder" onclick="location.href='<%=robot.invite%>'">Invite</button>
    <button class="newcardBtn cardBFont cardBtnHolder" onclick="location.href='/bot/<%=robot.id%>'">View</button>
    <button class="newcardBtn cardBFont cardBtnHolder" onclick="location.href='/bot/<%=robot.id%>/vote'">Vote</button>
</div>
</div>