<% if (alert) { %>
    <div class="notifications" id="notifications" style="animation: came-out 2s">
        <b class="notification-title" style="color: green;"><i class="fab fa-check-circle"></i>&nbsp;Success!</b>
        <b style="color: white;"><%= alert %></b>
    </div>
<% } else if (error) { %>
    <div class="notifications" id="notifications" style="animation: came-out 2s">
        <b class="notification-title" style="color: red;"><i class="fa fa-times-circle"></i>&nbsp;Error!</b>
        <b style="color: white;"><%= error %></b>
    </div>
<% } %>

<script>
    setTimeout(() => {
        document.getElementById("notifications").style = "display: none;"
    },  5000)
</script>