<footer>
    <div class="center">
        <h3>
            © <%= new Date().getFullYear();%>, Inphect, LTD. All rights reserved. Atlas, Atlas Bots, the Atlas Bots branding are trademarks of Inphect, LTD.
        </h3>
    </div>
    <div class="center">
        <h3>
            Wanna support Atlas Bots development? You can simply donate <a href="https://paypal.me/bpass20" target="_blank">here.</a>
        </h3>
    </div>
    <div class="center">
    <a href="//www.dmca.com/Protection/Status.aspx?ID=1c04a19f-75f5-4348-a720-43761e2a8e43" title="DMCA.com Protection Status" class="dmca-badge"> <img src ="https://images.dmca.com/Badges/dmca_protected_sml_120l.png?ID=1c04a19f-75f5-4348-a720-43761e2a8e43"  alt="DMCA.com Protection Status" /></a>  <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
    </div>
</footer>
