<!-- Head Content --> 
<meta name="og:description" content="<%= description && description !== 'none' ? description : bot.config.description %>" />
<meta property="og:description" content="<%= description2 && description2 !== 'none' ? description2 : bot.user.username %>" />
<meta name="description" content="<%= description && description !== 'none' ? description : bot.config.description %>" />
<meta name="og:title" content="<%= title && title !== 'none' ? title : bot.user.username %>" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="og:url" content="<%= bot.config.domain %>/" />
<meta name="theme-color" content="#822e49" />
<meta name="og:image" content="<%= image && image !== 'none' ? image : 'https://cdn.inphect.systems/atlas-bots/logos/atlasbots.png' %>" />
<title><%= main_title && main_title !== 'none' ? main_title : bot.user.username %></title>
<link rel="shortcut icon" href="https://cdn.inphect.systems/atlas-bots/logos/atlasbots.png">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/static/assets/css/main.css" />
<link rel="stylesheet" type="text/css" href="/static/assets/css/keyframes.css" />
<link rel="stylesheet" type="text/css" href="/static/assets/css/style.css" /> 
<link rel="stylesheet" type="text/css" href="/static/assets/css/shortcuts.css" /> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/2.10.0/github-markdown.css">
<script src="https://kit.fontawesome.com/270a1aba96.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.2/umd/popper.min.js"></script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1456754855857089" crossorigin="anonymous"></script>