<div class="navHolder">
    <div class="navbar" id="desktop">
        <div class="navside">
            <a class="navLogo" href="/">
                <img src="https://cdn.inphect.systems/atlas-bots/logos/atlasbots.png" style="width: 80px; height: 80px;" />
            </a>
            <div class="navLeft">
                <a class="navBtn" href="/">Home</a>
                <a class="navBtn" target="_blank" href="https://docs.atlasbots.com/">Docs</a>
                <a class="navBtn" id="bots" href="/bots">Bots</a>
                <div class="dropdown">
                    <a class="dropbtn">More</a>
                    <div class="dropdown-content">
                        <a href="/legal">Legal</a>
                        <a target="_blank" href="https://atlascord.instatus.com/">Status</a>
                        <hr class="phr" />
                        <a href="https://docs.atlascord.com/certification" target="_blank">Certification</a>
                        <hr class="phr" />
                        <a target="_blank" href="/discord">Discord Server</a>
                        <a target="_blank" href="https://twitter.com/AtlasBotList">Twitter</a>
                        </div>
                    </div>
            </div>
            <div class="navRight">
                <% if(user){ %>
                    <div class="dropdown">
                        <img src="<%=user.displayAvatarURL({dynamic: true});%>" class="hAvatar" alt="avatar" onerror="this.onerror=null; this.src='/static/assets/imgs/icon.png';" />
                        <a class="dropbtn"><%=user.tag.length > 15 ? user.tag.slice(0, 15)+"..." : user.tag%></a>
                        <div class="dropdown-content">
                            <a href='/user/<%- user.id%>'>Profile</a>
                            <a href="/bot/add">Add Bot</a>
                            <a href="#" id="button">Change Log</a>
                            <hr class="phr" />
                            <% const guild = bot.guilds.cache.get("940042260010106910") %>
                            <% const mod = guild.members.cache.get(user.id)%>
                            <% if(mod?.roles.cache.has("940046849958629447")){ %> 
                              <a href="/panel">Staff Panel</a>
                              <hr class="phr" />
                            <% } %>
                            <a href="/logout">Log Out</a>
                        </div>
                    </div>
                    <% }else{ %>
                        <a class="navBtn" href="/login">Login</a>
                        <% } %>
            </div>
        </div>
        <% if(pageHeader) { %>
            <div class="pageHead">
                <h1 class="bigtext w">AtlasCord</h1>
                <h4 class="secondary">Find a bot to use in your own discord server!</h4>
                <input name="search" id="search" class="search" placeholder="Search for a bot you would like to add!" />
                <a class="searchgo" id="gosearch" onclick="go()">Go&nbsp;<i class="fas fa-arrow-right"></i></a>
            </div>
            <% } %>
    </div>
    <div class="navbarM" id="mobile">
        <div class="navCBtn">
            <div class="dropdown">
                <a class="dropbtn"><i class="fas fa-bars"></i></a>
                <div class="dropdown-content">
                    <a href="/">Home</a>
                    <a target="_blank" href="https://docs.atlasbots.com/">Docs</a>
                    <a href="/bots">Bots</a>
                    <a href="/legal">Legal</a>
                    <a class="navBtn" target="_blank" href="https://atlasbots.instatus.com/">Status</a>
                    <a href="/discord">Discord Server</a>
                    <a href="https://docs.atlasbots.com/certification" target="_blank">Certification</a>
                </div>
            </div>
        </div>
        <div class="navCBtn floatRight">
            <% if(user){ %>
                <div class="dropdown">
                    <a class="dropbtn"><%=user.tag.length > 15 ? user.tag.slice(0, 15)+"..." : user.tag%></a>
                    <div class="dropdown-content">
                        <a href='/user/<%= user.id%>'>Profile</a>
                        <a href="/bot/add">Add Bot</a>
                        <hr class="phr" />
                        <% const guild = bot.guilds.cache.get("940042260010106910") %>
                        <% const mod = guild.members.cache.get(user.id)%>
                        <% if(mod?.roles.cache.has("940046849958629447")){ %> 
                          <a href="/panel">Staff Panel</a>
                          <hr class="phr" />
                        <% } %>
                        <a href="/logout">Log Out</a>
                    </div>
                </div>
                <% }else{ %>
                    <a class="navBtnM" href="/login">Login</a>
                    <% } %>
        </div>
    </div>
</div>
</div>
<div id="desktop">
    <%- pageHeader ? include(dynamic+"/components/waves") : "" %>
</div>

<body>
    <div class="update-bg">
        <div class="update-content">
             <div class="closeUpdate">X</div>
             <h3 class="center">Latest Changes</h3>
             <h3 class="center">Added</h3>
             <p class="center">
               <p>- Added discord libraries selection! (Can also be used on search) 
                <p>- New redesigned cards!
                <p>- Bot Banners are now here! (Booster and Certified only). 
                <p>- Added icons to profile buttons.
                <p> - More options of links on profiles.
             </p>
             <h3 class="center">Fixes</h3>
             <p class="center">
                <p>- Fixed the mysteries space on bot pages.
                <p>- Fixed bot vanity URL on bot edit page. 
                <p>- Fixed login button on mobile (again).
             </p>

             <h3 class="center">Improvements/Changes</h3>
             <p class="center">
                <p>- Bot buttons will now be hidden if no directory.
                <p>- Changed "Submit Bot" to "Add Bot"
                <p>- Removed hover animation.
                <p>- Backend Improvements.
             </p>
        </div>
   </div>
</body>

<%- include(scriptsPath) %>
        <script src="/static/assets/scripts/update.js"></script>