@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes came {
  0% {
    opacity: 0.3;
    transform: translate(800px, 0px);
  }
  40% {
    transform: translate(0px, 0px);
  }
}

@keyframes up {
  0% {
    opacity: 0.3;
    transform: translate(0px, -40px);
  }
  40% {
    transform: translate(0px, 0px);
  }
}


@keyframes fill {
  40% {
    background-color: rgb(253, 198, 198);
  }
}

@keyframes out {
  0% {
    transition: all 0.5s;
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(400px, 0px);
  }
}

@keyframes dropdown {
  0% {
    opacity: 0.2;
    transform: translate(0px, -10px);
  }
  30% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes shadow {
  0% {
    box-shadow: 0 0 0 0 #8888889a;
  }
  70% {
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes fadeOut {
  0% {
    transition: all 0.5s;
    opacity: 0.2;
  }
  40% {
    opacity: 1;
  }
}

@keyframes announce {
  0% {
    transition: all 0.5s;
    transform: translate(0px, -100px);
  }
  40% {
    transition: all 0.5s;
    transform: translate(0px, 200px);
  }
}

@-webkit-keyframes jump {
  0%,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes jump {
  0%,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes came-out {
  0% {
    transition: all 0.5s;
    transform: scale(0.4);
  }
  30% {
    transform: scale(1.05);
  }
  40% {
    transform: scale(1);
  }
}

@keyframes shadow {
  0% {
    box-shadow: 0 0 0 0 #8888889a;
  }
  70% {
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes announce {
  0% {
    transition: all 0.5s;
    transform: translate(0px, -100px);
  }
  40% {
    transition: all 0.5s;
    transform: translate(0px, 200px);
  }
}

@-webkit-keyframes jump {
  0%,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes jump {
  0%,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}

/* Safari */

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes wave {
  to {
    transform: translateX(-100%);
  }
}

@keyframes review-focus {
  0% {
    transition: 1s;
  }
  60% {
    transition: 0.2s;
    transform: scale(1.1);
  }
  100% {
    transition: 0.2s;
    transform: scale(1);
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes notifications-jump {
  0% {
    transition: 0.8s;
    transform: translate(0px, 0px);
  }
  40% {
    transition: 0.8s;
    transform: translate(0px, -10px);
  }  
  100% {
    transition: 0.8s;
    transform: translate(0px, 0px);
  }
};

@-webkit-keyframes themes_come {
  0%{
    transition: 0.7s;
    transform: translate(-100px, 0px);
  }  
  40% {
    transition: 0.7s;
    transform: translate(0px, 0px);
  } 
}

@keyframes themes_come{
  0%{
    transition: 0.7s;
    transform: translate(-100px, 0px);
  }  
  40% {
    transition: 0.7s;
    transform: translate(0px, 0px);
  } 
}