:root {
    --bgcolor: #2C2F33;
    --color: rgb(255, 255, 255);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bgcolor);
    font-family: "Balsamiq Sans", cursive;
    margin: 0;
}

p,
a,
strong,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
textarea,
label,
ul {
    font-family: "Balsamiq Sans", cursive;
    color: white;
}

.botDescription iframe {
    width: 100%;
    height: 1250px;
}

#mobile {
    display: none;
}

#desktop {
    display: block;
}

.icon {
    width: 350px;
}

.navLogo {
    display: inline-block;
    line-height: inherit;
    white-space: nowrap;
    margin-right: 20px;
    margin-top: 15px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #4078c7;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #3262a5;
}

.Gbtn {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 6px;
    border: 1px solid #4784da;
    background-color: #4e8de6;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.658);
    cursor: pointer;
    color: white;
    transition: 0.3s;
    margin: 5px;
    text-decoration: none;
}

.rGbtn {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 6px;
    border: 1px solid #da4747;
    background-color: #e64e4e;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.658);
    cursor: pointer;
    color: white;
    transition: 0.3s;
    margin: 5px;
    text-decoration: none;
}

.notifications {
    background-color: #15141b;
    border-radius: 6px;
    padding-top: 20px;
    z-index: 999999999999;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 120px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    max-width: 500px;
}

.notification-title {
    font-size: 18px;
    font-weight: bold;
    align-items: center;
    vertical-align: center;
    color: white;
}

.Gbtn:hover {
    background-color: #3f74bd;
    color: rgb(230, 230, 230);
}

.rGbtn:hover {
    background-color: #bd3f3f;
    color: rgb(230, 230, 230);
}


/* Switch */

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 23px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #4886dc;
}

input:focus+.slider {
    box-shadow: 0 0 1px #4886dc;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* Mobile */

@media only screen and (max-width: 1200px) {
    #mobile {
        display: block;
    }
    #desktop {
        display: none;
    }
    .navside {
        margin-left: 10.5%;
    }
}
