.center {
    display: flex;
    justify-content: center;
    text-align: center;
    justify-content: center;
}

.phr {
    margin: 0;
    opacity: 0.3;
}

.bigtext {
    font-size: 50px;
}

.visible {
    opacity: 1;
    visibility: visible;
}

.fill {
    animation: fill 1.5s ease-in;
}

.w {
    color: white;
}

.paperlines {
    width: 80%;
}

.paperlines[two] {
    width: 30%;
}

.paperlines[three] {
    width: 60%;
}

.invisible {
    display: none;
}

.filltext {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.secondary{
    color: rgb(255, 255, 255);
    font-weight: normal;
    margin-top: -30px
}

.erasePad {
    padding: 0px;
}

.colorRev {
    color: white;
}

.Upper {
    margin-top: -5%;
}

.display {
    display: block;
}

.maxW {
    max-width: 280px;
}

.floatLeft {
    float: left;
    text-align: left;
}

.floatRight {
    float: right;
    text-align: left;
}

hr[c] {
    opacity: 0.5;
    width: 60%;
}

.padL {
    padding-left: 5px;
}

.textLeft {
    text-align: left;
}