/* NavBar */

.navHolder {
    margin-top: -40px;
    background-color: #4886dc;
}

.navbar {
    background-color: #4886dc;
    margin-top: 35px;
}

.navbarM {
    background-color: #4886dc;
    margin-top: 5px;
}

.navside {
    margin-left: 7%;
    display: flex;
}

.navRight {
    margin-left: 50%;
    margin-top: 15px;
}

.navLeft {
    margin-right: 2%;
    margin-top: 15px;
}

.navCBtn {
    color: white;
    font-weight: 500;
    text-decoration: none;
    font-size: 20px;
    margin: 3%;
    transition: 0.5s;
    display: inline-block;
    position: relative;
    margin-top: 30px;
}

.navCBtn:hover {
    color: rgb(218, 218, 218);
}

.navBtn {
    color:white;
    font-weight: 500;
    text-decoration: none;
    font-size: 20px;
    margin-right: 40px;
    transition: 0.5s;
    display: inline-block;
    position: relative;
    margin-top: 35px;
}

.navBtnM {
    color: white;
    font-weight: 500;
    text-decoration: none;
    font-size: 20px;
    margin-right: 30px;
    margin-top: 25px;
    transition: 0.5s;
    display: inline-block;
    position: relative;
}

.navBtn:hover {
    color: rgb(219, 219, 219);
    transition: 0.5s;
}

.navBtn:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: rgb(219, 219, 219);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navBtn:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


/* DropDown */

.dropbtn {
    color: white;
    font-weight: 500;
    text-decoration: none;
    font-size: 20px;
    margin-right: 40px;
    margin-top: 33px;
    transition: 0.5s;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.dropbtn:hover {
    color: rgb(219, 219, 219);
    transition: 0.5s;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    transition: all 0.5s;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(114, 114, 114, 0.2);
    z-index: 999999;
    animation: fadeIn 0.2s;
    border-radius: 5px;
    border: solid 0.3px rgb(209, 209, 209);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: 0.2s;
}

.dropdown-content a:hover {
    background-color: #ddd;
    transition: 0.2s;
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    visibility: visible;
}

.update-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.update-content {
    width: 500px;
    height: 700px;
    background-color: #6d9ad8;
    border-radius: 11px;
    position: relative;
}

.closeUpdate {
    position: absolute;
    top: 0;
    right: 14px;
    cursor: pointer;
    font-size: 40px;
    color: white;
}


/* Components */

.pageHead {
    margin-top: 5%;
    margin-left: 15.5%;
}

.paper {
    width: 150px;
    height: 200px;
    box-shadow: 0px 8px 16px 0px rgba(114, 114, 114, 0.2);
    border: solid 1px grey;
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
    margin: 10px;
}

.paper:hover {
    transition: 0.5s;
    transform: scale(1.1);
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 1800px;
    animation: fadeIn 1.5s;
}

.banner {
    width: 320px;
    margin-top: -15.2%;
    margin-left: 51%;
}

.icon {
    margin-top: -10%;
}

.badge {
    animation: fadeIn 1s;
}


/* Inputs */

.search {
    width: 400px;
    height: 45px;
    margin-top: -30px;
    border-radius: 8px;
    border: solid 1px rgba(175, 175, 175, 0.699);
    padding-left: 15px;
    font-size: 16px;
    font-weight: bold;
    transition: 0.5s;
    outline: none;
    color: black;
}


/* Buttons */

.pageBtn {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    background-color: #6d9ad8cb;
    border: 1px solid #5a6c852a;
    box-shadow: 0px 8px 16px 0px #709ddd60;
    margin: 3px;
    cursor: pointer;
    transition: 0.3s;
    color: rgb(255, 255, 255);
}

.ViewBtn {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    background-color: #6d9ad8cb;
    border: 1px solid #5a6c852a;
    box-shadow: 0px 8px 16px 0px #709ddd60;
    margin: 3px;
    margin-left: 47.5%;
    cursor: pointer;
    transition: 0.3s;
    color: rgb(255, 255, 255);
}

.pageBtn:hover {
    background-color: #5078afcb;
    color: rgb(71, 71, 71);
}

.searchgo {
    outline: none;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
    color: rgb(85, 85, 85);
    padding: 10px;
    color: white;
}

.searchgo:hover {
    color: rgb(219, 219, 219);
}


/* Popup */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #2C2F33;;
    margin: 3% auto;
    padding: 20px;
    border: 1px solid #4886dc;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.alert {
    margin: 10px;
    padding: 2px;
    padding-left: 10px;
    width: 68%;
    height: 50px;
    border-radius: 8px;
    border: 1px solid rgb(16, 150, 16);
    background-color:rgba(16, 150, 16, 0.623);
    text-align: left;
    animation: up 2s;
}

/* Card Components */

.card {
    width: 410px;
    height: 470px;
    background-color: #4886dc71;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.658);
    border-radius: 8px;
    border: 1px solid #4886dc;
    margin: 20px;
    padding: 15px;
    transition: all 0.3s;
}

.cardM {
    width: 380px;
    height: 470px;
    background-color: #4886dc71;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.658);
    border-radius: 8px;
    border: 1px solid #4886dc;
    margin: 20px;
    padding: 15px;
    transition: all 0.3s;
}

.CardBanner {
    width: 410px;
    height: 150px;
    border-radius: 8px;
}

.CardBannerM {
    width: 380px;
    height: 150px;
    border-radius: 8px;
}

.BotName {
    margin-top: 50px;
    margin-right: 20px;
}

.cardAvatar {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    box-shadow: 0px 8px 16px 0px #4886dc71;
    float: left;
    margin-top: 5px;
}

.cardAvatarM {
    width: 140px;
    height: 140px;
    border-radius: 100%;
    box-shadow: 0px 8px 16px 0px #4886dc71;
    float: left;
    margin-top: 5px;
}

.cardStats {
    float: left;
}

.cardStatsM {
    margin-top: 10px;
}

.cardFont {
    color: #ffffff;
}

.cardInfo {
    width: 110px;
    height: 25px;
    border-radius: 5px;
    background-color: #8aadddb9;
    margin: 10px;
}

.cardInfoM {
    width: auto;
    height: 25px;
    border-radius: 5px;
    background-color: #8aadddb9;
    margin: 10px;
}

.cardInfoBP {
    width: 130px;
    height: 25px;
    border-radius: 5px;
    background-color: #8aadddb9;
    margin: 10px;
}

.cardInfoFont {
    margin-top: 3.5px;
    color: #ffffff;
    font-weight: 700;
}

.cardTopPart {
    width: 100%;
    height: 58%;
}

.cardDesc {
    height: 65px;
    margin-top: 80px;
}

.cardDescM {
    height: 65px;
    margin-top: 50px;
}

.cardTags {
    font-weight: 700;
    color: #ffffff;
}

.cardDescFont {
    font-weight: 600;
    color: #ffffff;
}

.cardBtn {
    border-radius: 10px;
    background-color: #4886dca9;
    box-shadow: 0px 8px 16px 0px #00000071;
    width: 100px;
    height: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}

.cardBFont {
    color: white;
    font-size: 100;
}

.ButtonC {
    font-size: 50;
    margin-top: 5px;
}

.cardBtn:hover {
    transform: scale(1.06);
    background-color: #326bbb;
}

.cardBtnHolder {
    margin-top: 8%;
    margin-left: 5%;
}

.nsfwW {
    border-radius: 4px;
    background-color: #ebb521;
    padding: 10px;
}

.announce {
    border-radius: 11px;
    background-color: #4886dc71;
    width: 50%;
}

.Mbackground {
    border-radius: 10px;
    background: #4886dc71;
}

table {
  width: 100%;
  margin-bottom: 1rem;
}

.panel {
    width: 350px;
    height: 150px;
    background-color: #4886dc71;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.658);
    border-radius: 8px;
    border: 1px solid #4886dc;
    margin: 20px;
    padding: 15px;
}

.Btn {
    border-radius: 10px;
    background-color: #4886dca9;
    box-shadow: 0px 8px 16px 0px #4886dc71;
    width: 110px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}

.rBtn {
    border-radius: 10px;
    background-color: #dc4848a9;
    box-shadow: 0px 8px 16px 0px #4886dc71;
    width: 110px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}

.cardBtnM {
    border-radius: 4px;
    background-color: #4886dca9;
    box-shadow: 0px 8px 16px 0px #4886dc71;
    padding: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}

.owners {
   display: flex;
   width: 100%;
}
  
.owner {
    display: inline-block;
    height: 20px;
    padding: 10px;
    border-radius: 10px;
    margin: 15px;
    background-color: #8aadddb9;
}

/* Profile */

.pCard {
    width: 1000px;
    height: auto;
    background-color: #4886dc71;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.658);
    border-radius: 8px;
    border: 1px solid #4784da;
    padding: 15px;
    transition: all 0.3s;
    margin-top: 12px;
    margin-left: 21.5%;
}

.pAvatar {
    width: 180px;
    height: 180px;
    border-radius: 100%;
    box-shadow: 0px 8px 16px 0px #4886dc71;
    float: left;
}

.hAvatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    box-shadow: 0px 8px 16px 0px #4886dc71;
    float: left;
    padding: 10px;
    margin-top: 10px;
}

.pData {
    margin-top: 5%;
    margin-left: 2%;
    float: left;
    text-align: left;
}

.pFont {
    color: #ffffff;
}

.pbottomData {
    width: 100%;
    margin-top: 23%;
    text-align: left;
}

.pbottomDataM {
    width: 100%;
    margin-top: 30%;
    text-align: left;
}

.pCardBtn {
    width: 110px;
    height: 25px;
    border-radius: 5px;
    background-color: #6d9ad8cb;
    border: 1px solid #5a6c852a;
    box-shadow: 0px 8px 16px 0px #709ddd60;
    margin: 2px;
    padding: 5px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    color: #ffffff;
}

.pBadges {
    border-radius: 5px;
    background-color: #31495f;
    margin: 2px;
    width: 40px;
    height: 40px;
}



/* Add box */

.addBox {
    padding: 25px;
    width: 40%;
    background-color: #4886dc71;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.658);
    border-radius: 8px;
    border: 1px solid #4784da;
    transition: 0.5s;
    margin: 25px;
    padding-bottom: 35px;
}

.addInput {
    width: 650px;
    height: 35px;
    border-radius: 6px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.747);
    padding-left: 15px;
    font-weight: bold;
    font-size: 16px;
    color: black;
}

.decline {
    width: 400px;
    height: 35px;
    border-radius: 6px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.747);
    padding-left: 15px;
    font-weight: bold;
    font-size: 16px;
    color: black;
}

.inputs {
    margin-left: 35px;
    margin-top: 35px;
}

.addTextarea {
    width: 650px;
    height: 350px;
    border-radius: 6px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.747);
    font-size: 18px;
    padding-left: 8px;
    font-weight: bold;
    color: black;
}

.addMultiSelect {
    width: 650px;
    height: 150px;
    border-radius: 6px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.747);
    font-size: 18px;
    padding-left: 8px;
    font-weight: bold;
    font: inherit;
}

/* Bot Page */

.botCard {
    height: auto;
    padding: 15px;
    transition: all 0.3s;
    margin: 12px;
    margin-left: -20%;
}

.botAvatar {
    width: 220px;
    height: 220px;
    border-radius: 50px;
    box-shadow: 0px 8px 16px 0px #4886dc71;
    margin-right: 30px;
}

.botShortdesc {
    max-width: 650px;
}

.botDescription{
    max-width: 1400px;
    height: auto;
    border-radius: 8px;
    padding: 15px;
    transition: all 0.3s;
    margin-left: 15%;
}

.botDescriptionFont {
    color: #ffffff;
}

.botShort {
    max-width: 100%;
}

.bottextLeft {
    text-align: left;
    padding: 4px;
}

/* Mobile */

@media only screen and (max-width: 1800px) {
    .banner {
        display: none;
    }
    .addInput {
        width: 450px;
    }
    .addMultiSelect {
        width: 450px;
    }
    .addTextarea {
        width: 450px;
    }

    .navBtn {
        color:white;
        font-weight: 500;
        text-decoration: none;
        font-size: 20px;
        margin-right: 15px;
        transition: 0.5s;
        display: inline-block;
        position: relative;
        margin-top: 35px;
    }
}

@media only screen and (max-width: 1600px) {
    .navside {
        margin-left: 2%;
        justify-content: center;
    }
    .navside [ex] {
        margin-left: 2%;
    }

    .navBtn {
        color:white;
        font-weight: 500;
        text-decoration: none;
        font-size: 20px;
        margin-right: 8px;
        transition: 0.5s;
        display: inline-block;
        position: relative;
        margin-top: 35px;
    }
}

@media only screen and (max-width: 1200px) {
    .addBox {
        width: 100%;
        margin: 10px;
    }
    .pCard {
        width: auto;
    }
    .pData {
       margin-bottom: 20px;
    }
    .pBadges {
        display: none;
    }
    .botCard {
        margin-left: 0;
    }
    .bottextLeft {
        text-align: center;
    }
    .botDescriptionFont {
        text-align: center;
    }
    .botDescription {
        margin-left: 0;
    }
}

.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 45px;
}

@media (max-width: 767px) {
    .markdown-body {
        padding: 15px;
    }
}

@media (max-width: 1234px) {
    .navBtn {
        color:white;
        font-weight: 500;
        text-decoration: none;
        font-size: 20px;
        margin-right: 3px;
        transition: 0.5s;
        display: inline-block;
        position: relative;
        margin-top: 35px;
    }
}

@media (max-width: 1204px) {
    .navBtn {
        color:white;
        font-weight: 500;
        text-decoration: none;
        font-size: 20px;
        margin-right: 1px;
        transition: 0.5s;
        display: inline-block;
        position: relative;
        margin-top: 35px;
    }
}

@media (max-width: 1235px) {
    .navBtn {
        color:white;
        font-weight: 500;
        text-decoration: none;
        font-size: 20px;
        margin-right: -1px;
        transition: 0.5s;
        display: inline-block;
        position: relative;
        margin-top: 35px;
    }
}

@media (max-width: 1236px) {
    .navBtn {
        color:white;
        font-weight: 500;
        text-decoration: none;
        font-size: 20px;
        margin-right: -3px;
        transition: 0.5s;
        display: inline-block;
        position: relative;
        margin-top: 35px;
    }
}

@media only screen and (max-width: 600px) {
    .card {
        width: auto;
        height: auto;
    }
    .cardDesc {
        display: inline;
    }
    .cardBtnHolder {
        margin-left: 1%;
    }
    .cardTags {
        display: inline;
    }
    .cardAvatar {
        width: 300px;
        height: 300px;
        float: none;
    }
    .pAvatar {
        width: 100px;
        height: 100px;
    }
    .pData {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .pData {
        float: left;
     }
     .pCardBtn {
         font-size: 13px;
     }
     .pCard2 {
         width: auto;
         height: auto;
     }
     .pInfoCard {
         width: auto;
         height: auto;
     }
}

@media only screen and (max-width: 500px) {
    .addInput {
        width: 260px;
    }
    .addMultiSelect {
        width: 260px;
    }
    .addTextarea {
        width: 260px;
    }
    .addBox {
        width: 100%;
        margin: 10px;
    }
}