<!DOCTYPE html>
<html>

<head>
    <head>
        <%- include(headerPath, {
            description: `AtlasCord - Banned`, 
            description2: `AtlasCord`, 
            title: `AtlasCord - Banned`, 
            main_title: `AtlasCord | Banned`, 
            image: 'none'}) %>
    </head>
</head>

<body>
    <%- include(navPath, {pageHeader: false}) %>
    <div class="center">
        <h1>
            Account Banned!
        </h1>
    </div>
    <div class="center">
        <h2>
            You're currently banned from the discord, which also instantly bans you from our site!
        </h2>
    </div>
    <div class="center">
        <h2>
            To appeal please send us an email <a href="mailto:appeals@atlascord.com">here.</a>
        </h2>
    </div>
    <%- include(footerPath) %>
</body>

</html>