<!DOCTYPE html>
<html>

<head>
    <%- include(headerPath, {
        description: `AtlasCord - Beta Over`, 
        description2: `AtlasCord`, 
        title: `AtlasCord - Beta Over`, 
        main_title: `AtlasCord | Beta Over`, 
        image: 'none'}) %>
</head>

<body>
    <h1 class="center">The beta session is now over.</h1>
    <h2 class="center">Please keep your eye out for the new beta in our discord.</h2>
    <h2 class="center">Head to our main website <a href="https://atlasbots.com">here.</a></h2>

    <%- include(footerPath) %>
</body>

</html>