<!DOCTYPE html>
<html>

<head>
    <%- include(headerPath, {
          description: `AtlasCord, ${body.length > 20 ? body.slice(0, 20)+"..." : body}`, 
          description2: "AtlasCord", 
          title: `AtlasCord - ${status}`, 
          main_title: `AtlasCord | ${status}`, 
          image: 'none'
          }) %>
</head>

<body>
    <%- include(navPath, {pageHeader: true}) %>
        <div class="center">
            <h3 class="cardFontBP">
                <%= body || "" %>
            </h3>
        </div>
        <%- include(scriptsPath) %>
        <%- include(footerPath) %>
</body>

</html>