<!DOCTYPE html>
<html>

<head>
    <script src="https://kit.fontawesome.com/5f3959be50.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/assets/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/static/assets/css/keyframes.css" />
    <link rel="stylesheet" type="text/css" href="/static/assets/css/style.css" /> 
    <link rel="stylesheet" type="text/css" href="/static/assets/css/shortcuts.css" /> 
</head>

<body>
    <h1 class="center">Well this is awkward</h1>
    <h1 class="center">500 - Unexpected Error Occured</h1>
    <h2 class="center">Report has been automatically sent to the development team!</h2>
</body>

</html>