<!DOCTYPE html>
<html>

<head>
    <%- include(headerPath, {
        description: `AtlasCord - Maintenance`, 
        description2: `AtlasCord`, 
        title: `AtlasCord - Maintenance`, 
        main_title: `AtlasCord | Maintenance`, 
        image: 'none'}) %>
</head>

<body>
    <h1 class="center">Well this is awkward</h1>
    <h2 class="center">We are preforming maintenance on the website.</h2>
    <h2 class="center">Be back soon!</h2>

    <%- include(footerPath) %>
</body>

</html>