<!DOCTYPE html>
<html>

<head>
    <%- include(headerPath, { description: `AtlasCord - ${robot.short}`, description2: `AtlasCord`, title: `AtlasCord
        - ${fetch.username}`, main_title: `AtlasCord | ${fetch.username}`, image: `${fetch.displayAvatarURL()}`}) %>
</head>

<body>
    <%- include(navPath, {pageHeader: false}) %>
        <div id="alert" class="center invisible">
            <div class="alert">
                <p id="alert_content"></p>
            </div>
        </div>
        <div class="center">
            <div class="botCard">
                <div class="container erasePad textCenter">
                    <img src="<%=fetch.displayAvatarURL()%>" alt="avatar" class="botAvatar" />
                    <div class="botData">
                        <h1 class="cardFont bottextLeft">
                            <%=fetch.username%>
                                <% if(robot.certified) {%>
                                    <i class="fas fa-star" title="Certified"></i>
                                    <%}%>
                        </h1>
                        <div class="container erasePad">
                            <div class="cardInfoBP">
                                <p class="cardInfoFont">
                                    Prefix: <%= robot.prefix %>
                                </p>
                            </div>
                            <div class="cardInfoBP">
                                <p class="cardInfoFont">
                                    Library: <%= robot.lib %>
                                </p>
                            </div>
                            <div class="cardInfoBP">
                                <p class="cardInfoFont">
                                    Servers: <%= robot.servers %>
                                </p>
                            </div>
                            <div class="cardInfoBP">
                                <p class="cardInfoFont">
                                    Votes: <%= robot.votes %>
                                </p>
                            </div>
                            <div class="cardInfoBP">
                                <p class="cardInfoFont">
                                    Shards: <%= robot.shards %>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="center">
            <%if (robot.nsfw || robot.tags.includes("nsfw")){%>
                <p class="nsfwW cardFont"><i class="fa fa-warning"></i>&nbsp; Warning! This bot has been marked as a
                    NSFW bot. Please invite it with caution.</p>
                <%}%>
        </div>
        <% const guild=bot.guilds.cache.get("940042260010106910") %>
            <% const mod=guild.members.cache.get(user?.id)%>
                <div class="center">
                    <%if (robot.owner === user?.id && !mod?.roles.cache.has("940046849958629447") && !robot.affirmed){%>
                        <p class="nsfwW cardFont"><i class="fa fa-warning"></i>&nbsp; Your bot has not been approved yet
                            and won't be visible in the public view until it is approved.<br>You'll be pinged in our
                            Discord Server when your bot is approved or denied.</p>
                        <%}%>
                            <%if (mod?.roles.cache.has("940046849958629447") && !robot.affirmed){%>
                                <p class="nsfwW cardFont"><i class="fa fa-warning"></i>&nbsp; Please check the pins in the #moderator-chat channel for the best tips on reviewing a bot.</p>
                                <%}%>
                </div>
                <hr c />
                <div class="center">
                    <p class="cardFont botShort">
                        <%=robot.short%>
                    </p>
                </div>
                <div class="center">
                    <div class="container erasePad">
                        <a class="Gbtn" href="/bot/<%=robot.id%>/vote"><i class="fa fa-vote-yea"></i>&nbsp;Vote</a>
                        <%if (robot.website){%>
                        <a class="Gbtn" href="<%=robot.website%>"><i class="fa fa-link"></i>&nbsp;Website</a>
                        <%}%>
                        <%if (robot.donate){%>
                        <a class="Gbtn" href="<%=robot.donate%>"><i class="fas fa-donate"></i>&nbsp;Donate</a>
                        <%}%>
                        <%if (robot.server) {%>
                        <a class="Gbtn" href="<%=robot.server%>"><i class="fab fa-discord"></i>&nbsp;Server</a>
                        <%}%>
                        <a class="Gbtn" href="<%=robot.invite%>"><i class="fa fa-plus"></i>&nbsp;Invite</a>
                        <% if(mod?.roles.cache.has("940046849958629447") && !robot.affirmed){ %>
                            <a class="Gbtn"
                                href="https://discord.com/oauth2/authorize?client_id=<%=robot.id%>&permissions=0&scope=bot%20applications.commands&guild_id=940058220712591430"><i
                                    class="fa fa-id-card"></i>&nbsp;Invite to ABV</a>
                            <% } %>
                                <% if (robot.owner === user?.id || robot.owners.includes(user?.id)) { %>
                                    <a class="Gbtn" href="/bot/<%=robot.id%>/edit"><i
                                            class="fa fa-edit"></i>&nbsp;Manage Bot</a>
                                    <a class="Gbtn" onclick="auth('<%=robot.id%>')"><i
                                            class="fa fa-cog"></i>&nbsp;Authorization</a>
                                    <% } else { %>
                                        <a class="rGbtn" href="/bot/<%=robot.id%>/report"><i
                                                class="fa fa-exclamation-circle"></i>&nbsp;Report</a>
                                        <% } %>
                                            <% if(mod?.roles.cache.has("940046847186194472")){ %>
                                                <a class="Gbtn" href="/bot/<%=robot.id%>/admin">Admin Panel</a>
                                                <% } %>
                    </div>
                </div>
                <hr c />
                <%if (robot.announce){%>
                <div class="center">
                    <div class="announce">
                        <h2 class="cardFont"><i class="fas fa-bullhorn"></i>&nbsp;Announcement</h2>
                        <hr class="phr" />
                        <p class="cardFont">
                            <%=robot.announce%></p>
                    </div>
                </div>
                <hr c />
                <%}%>
                <div class="owners center">
                    <h1>Owner/s:</h1>
                        <p class="cardInfoFont">
                            <% for(i=0; i < owners.length; i++){ %>
                        <a class="owner" href="/user/<%= owners[i].id%>">
                            <%=owners[i].tag%>
                         </a>
                    <%}%>
                </p>
                </div>
                <div class="botDescription markdown-body">
                    <p class="botDescriptionFont">
                        <%- md.render(robot.description) %>
                    </p>
                </div>

                <%- include(scriptsPath) %>
                    <script src="/static/assets/scripts/botpage.js"></script>
                    <%- include(footerPath) %>
</body>

</html>
