<!DOCTYPE html>
<html>

<head>
    <%- include(headerPath, {
    description: `AtlasCord - ${bot.config.description}`, 
    description2: `AtlasCord`, 
    title: `AtlasCord- Search`, 
    main_title: `AtlasCord | Search`, 
    image: 'none'}) %>
</head>

<body>
    <%- include(navPath, {pageHeader: true}) %>
        <div class="center">
            <div class="container">
                <% if(bots.length === 0) { %>
                    <h2>Couldn't find that bot!</h2>
                <% }else{ %>
                    <% for(i = 0; i < bots.length; i++){ %>
                        <%- include(dynamic + "/components/card", {robot: bots[i]}) %>
                    <% } %>
                <% } %>
            </div>
        </div>
        <div class="center">
            <% if(bots.length == 12) { %> 
                <a class="pageBtn" id="prev" onclick="searchprev()"><i class="fa fa-arrow-circle-left"></i>&nbsp;Prev</a> 
                <a class="pageBtn" onclick="searchnext()">Next&nbsp;<i class="fa fa-arrow-circle-right"></i></a> 
            <% }else if(bots.length < 12){ %> 
                <a class="pageBtn" onclick="searchprev()" id="prev"><i class="fa fa-arrow-circle-left"></i>&nbsp;Prev</a> 
            <% } %>
        </div>
        <%- include(scriptsPath) %>
        <script src="/static/assets/scripts/paging.js"></script>
        <script>
            if(location.href.split("page=")[1] == 1) {
                $("#prev").addClass("invisible")
            };
        </script>
            <%- include(footerPath) %>
</body>

</html>