<!DOCTYPE html>
<html>

<head>
    <head>
        <%- include(headerPath, {
            description: `AtlasCord - Test`, 
            description2: `AtlasCord`, 
            title: `AtlasCord - Test`, 
            main_title: `AtlasCord | Test`, 
            image: 'none'}) %>
    </head>
</head>

<body>
    <%- include(navPath, {pageHeader: false}) %>

    <h2 class="center padL">Why does this page exist?</h2>
        <p class="center padL">Testing shit ig?</p>
        <div class="center">
            <div class="container">
                <% if(Newbots.length === 0) { %>
                    <h2>There are no bots at the moment</h2>
                <% }else{ %>
                    <% for(i = 0; i < Newbots.length; i++){ %>
                        <%- include(dynamic + "/components/newCard", {robot: Newbots[i]}) %>
                    <% } %>
                <% } %>
            </div>
        </div>
</body>

</html>